/* IMPOSTAZIONI GENERALI */
html{
    font-size: 80%;
}
body{
    margin: 1rem 1rem;
    background-image: url("../img/sfondo.png");
    font-family: 'Poppins', sans-serif;
    line-height: 1.7rem;
}
main{
    background-color: white;
    -webkit-box-shadow: 0px 0px 11px 4px rgba(0,0,0,0.4); 
    box-shadow: 0px 0px 11px 4px rgba(0,0,0,0.4);
    padding: 2.5rem 1rem;
}
/* HEADER */
header{
    margin: 1rem 0;
    text-align: center;
    background: linear-gradient(180deg, rgba(0,160,198,1) 0%, rgba(3,109,134,1) 68%);
}
header div, header nav{
    padding: 1.2rem 0;
    color: white;
    text-transform: uppercase;
}
header div p{
    margin: 1rem 0 0 0;
}
nav ul li{
    list-style-type: none;
}
nav a{
    color: white;
    text-decoration: none;
}
/* MAIN */
article i{
    margin-right: 2px;
}
article h1{
    font-size: 2.5rem;
}
article strong{
    color: magenta;
}
p#caption{
    color:grey;
    margin: 1.5rem 0;
}
article ul{
    margin-left: 1.5rem;
}
article ul code{
    border:1px solid grey;
    background-color: rgb(212, 212, 212);
    border-radius: 5px;
}
article ol{
    margin-left: 1.5rem;
}
caption{
    font-weight: bold;
    font-style: italic;
}
table{
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #3f6bca;
    margin: 1.5rem 0;
}
thead{
    background-color: #3f6bca;
    color: white;
}
thead tr th{
    padding: 1.4rem 1rem;
    border-right: 1px solid white;
}
tbody tr td{
    padding: 1rem;
}
iframe{
    margin:1.5rem 0;
    width: 100%;
    height: 220px;
    border-radius: 20px;
}
section{
    margin: 1.5rem;
    text-align: center;
}
section h2{
    text-transform: uppercase;
    font-size: 1.5rem;
}
section p{
    text-align: left;
}
input{
    width: 60%;
    border:none;
    border-bottom: 1px dashed;
}
button{
    border: none;
    background-color: #3f6bca;
    width: 30%;
    color: white;
}
aside div{
    padding:1rem;
    margin: 1rem 0;
    border: 1px solid grey;
}
aside h2{
    font-size: 1.6rem;
    text-align: center;
    text-transform: uppercase;
    margin: 2rem 0;
}
div a{
    color: aqua;
}
aside div p:last-child{
    margin: 1rem 0 0 0;
    text-align: right;
}
div i:last-child{
    padding-right: 0.3rem;
}
footer{
    margin: 1.5rem 0 0 0;
    text-align: center;
    background: linear-gradient(0deg, rgba(53,53,53,1) 0%, rgba(5,85,103,1) 68%);
}
footer p, footer address{
    padding: 0.6rem 2rem;
    color: white;
}
footer a{
    color: fuchsia;
}
/* ELEMENTI NEL MAIN - ARTICLE */

/* TABELLE */

/* FORM */

/* ELEMENTI NELL' ASIDE */

/* FOOTER */
